*__pycache__*
venv/
*node_modules*
package-lock.json
*.log
static/*
frontend/loss-simulator/*.vscode*
frontend/loss-simulator/public/audio/*
PLCMOS/audio/*
PLCMOS/dred/*
.env
.env.*
*.env
**/.env
**/local_settings.py
**/settings_local.py
lossSimulator/zrtc/*.*
lossSimulator/zrtc
lossSimulator/config.env
NISQA/flask/*