atc-thrift==0.1.6
atcd==0.1.6
configparser==4.0.2
contextlib2==0.6.0.post1
daemonize==2.5.0
distlib==0.4.0
Django==1.11.29
django-atc-api==0.1.6
django-atc-demo-ui==0.1.6
django-atc-profile-storage==0.1.6
django-bootstrap-themes==3.3.6
django-static-jquery==1.11.1
djangorestframework==3.9.4
filelock==3.2.1
futures==3.4.0
importlib-metadata==2.1.3
importlib-resources==3.3.1
pathlib2==2.3.7.post1
platformdirs==2.0.2
pydub==0.25.1
pyotp==1.4.1
pyroute2==0.3.3
pytz==2026.1.post1
scandir==1.10.0
singledispatch==3.7.0
six==1.17.0
sparts==0.7.1
thrift==0.22.0
typing==3.10.0.0
virtualenv==20.15.1
zipp==1.2.0
