{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Loss Simulator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/dracula.min.css">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/javascript/javascript.min.js"></script>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
        
    <div class="d-flex flex-column gap-3">
        <div class="row d-flex flex-md-row flex-column intro">
                <div class="col-md-3 col-12 d-flex title align-items-center justify-content-center">
                    <span>How to use</span>
                </div>
                <div class="col bg-light border">
                <pre>
1. (Optional) 
    1.1 Set time to apply config -> If not, The config will just stop when you delete it

    1.2 Toggle monitor button to get active/unactive shape config

2. Select device IP you want to apply config

3. Choose option to apply:
    3.1 Default Config JSON:
            + Defined JSON config for different network configuration
            + Can edit option to apply your own config

    3.2 Defined Loss Strategies (based on Mr.Tien (tiend3) 's strategies):
            + Fix90: Fixed 90% packet loss rate
            + Dynamic: Loss rate varies over time (each ... second)
            + IncreaseOnly: Same as Dynamic but loss rate always increase</pre>
                </div>
            </div>
        
    {% if name ==  "Stranger" %}
        <h2>You don't have any permission, please call for help</h2>
    {% else %}
        <div class="row d-flex flex-row">
            <div class="col ip-selector">

                <div class="title"><span>IP Selector</span></div>
                
                <div class="row d-flex flex-row gap-3 p-2">
                    <div class="col d-flex align-items-center gap-3">
                        <label for="ipAddresses">Choose an IP:</label>
                        <select id="ipAddresses" name="ipAddresses">
                            <option value="{{ name }}" selected>{{ name }}</option>
                            {% for device in devices %}
                            <option value="{{ device }}">{{ device }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col d-flex flex-column align-items-center justify-content-center gap-3">
                        <button type="button" id="fetchIPBtn">Reload</button>
                        <button type="button" id="deleteBtn">Delete Config</button>
                    </div>
    
                </div>
            </div>

            <div class="col ip-monitor">
                <div class="title"><span>Monitor</span></div>
                
                <div class="row d-flex">
                    <div class="col d-flex justify-content-center align-items-center gap-3 p-2">
                        <button id="monitorToggleBtn" class="btn bg-danger text-white">
                            OFF
                        </button>
                    </div>
    
                    <div class="col d-flex justify-content-center align-items-center gap-3 p-2">
                        <ul id="activeShapeList" class="list-unstyled d-flex flex-column justify-content-center gap-3"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column timer-container p-2">
            <div class="title"><span>Timer</span></div>
            <div id="timer" class="d-flex align-items-center justify-content-center gap-3">
                <label>Time to apply config:</label>
                <input type="number" id="hours" min="0" value="0" style="width:60px">
                <span>:</span>
                <input type="number" id="minutes" min="0" max="59" value="0" style="width:60px">
                <span>:</span>
                <input type="number" id="seconds" min="0" max="59" value="0" style="width:60px">
            </div>
        </div>

        <div class="row d-flex flex-md-row flex-column config-container">
            
            <div class="col default-config-json d-flex flex-column align-items-center gap-3 p-2">
                <div class="title">
                    <span>Default Config JSON</span>
                </div>
    
                    <div class="row d-flex align-items-center gap-3">
                        <label for="jsonFiles">Choose a config:</label>
                        <select id="jsonFiles" name="jsonFiles">
                            <option value="" selected>-- Select a config --</option>
                            {% for file in files %}
                            <option value="{{ file }}">{{ file|cut:".json" }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div id="editor">
                        <form id="jsonForm" method="post" class="row d-flex flex-column gap-3 p-2">
                            {% csrf_token %}
                            <textarea id="json-editor" name="json_data">{{ json_content }}</textarea>
                            <button type="submit" id="applyDefaultBtn">Apply</button>
                        </form>
                    </div>
            </div>
    
            <div class="col defined-loss-strategy d-flex flex-column align-items-center gap-3 p-2">
                <div class="title">Defined Loss Strategies</div>
                <form id="strategyForm" method="post" class="row d-flex flex-column gap-3 p-2">
                            {% csrf_token %}
                            <label for="strategies">Choose a strategy:</label>
                            <select id="strategies" name="strategies">
                                <option value="" selected>-- Select a strategy --</option>
                                {% for strategy in strategies %}
                                <option value="{{ strategy }}">{{ strategy|cut:".json" }}</option>
                                {% endfor %}
                            </select>
                            <div id="stratContainer" class="d-none">
                                <div id="lossValue" class="d-flex flex-column">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <span>Loss Percentage: </span>
                                        <input id="lossValueInput" type="number" value="" readonly disabled>
                                        <span>%</span>
                                    </div>
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <span>Change every </span>
                                        <input type="number" id="cycleSeconds" min="0" value="5" style="width:60px">
                                        <span>s</span>
                                    </div>
                                </div>
                                <button type="submit" id="applyStrategyBtn" disabled>Apply</button>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</body>

<script type="module">
    import { 
        fetchJson, 
        applyConfig,
        postShape,
        deleteShape, 
        convertTimerToMs,
        fetchIp,
        getShape,
        MONITORING_INTERVAL
    } from "{% static 'main/script.js' %}";
    
    // select DOM Objects
    const editorContainer = document.getElementById("editor");
    const editor =  CodeMirror.fromTextArea(document.getElementById("json-editor"), {
                        mode: "application/json",
                        theme: "dracula",
                        lineNumbers: true,
                    });
    const defaultConfigSelector = document.getElementById("jsonFiles");
    const strategySelector = document.getElementById("strategies");
    const jsonForm = document.getElementById('jsonForm');
    const strategyForm = document.getElementById('strategyForm');
    const deleteBtn = document.getElementById("deleteBtn");
    const applyDefaultBtn = document.getElementById("applyDefaultBtn");
    const fetchIpBtn = document.getElementById("fetchIPBtn");
    const hour = document.getElementById("hours");
    const minute = document.getElementById("minutes");
    const second = document.getElementById("seconds");
    const activeShapeList = document.getElementById("activeShapeList");
    const ipSelector = document.getElementById("ipAddresses");
    const monitorBtn = document.getElementById("monitorToggleBtn");
    const stratDiv = document.getElementById("stratContainer");
    const lossValueDiv = document.getElementById("lossValue");
    const applyStratBtn = document.getElementById("applyStrategyBtn");
    const lossValueInput = document.getElementById("lossValueInput");
    const cycleSecondsInput = document.getElementById("cycleSeconds");

    // variables
    var previousIp = "";
    let countDownInterval = null;
    let monitoringInterval = null;
    let cycleInterval = null;

    // functions
    function setTimerValue(value)
    {
        const totalSeconds = Math.floor(value/1000);
        const s = totalSeconds % 60;
        second.value = s;
        const m = Math.floor((totalSeconds % 3600) / 60);
        if (m != minute.value)
        {
            minute.value = m;
            const h = Math.floor(totalSeconds / 3600);
            if (h != hour.value)
            {
                hour.value = h;
            }
        }
    }

    async function resetTimer()
    {
        if (countDownInterval) clearInterval(countDownInterval);
        if (cycleInterval) clearInterval(cycleInterval);
        try{
            await deleteShape({
                "ip": previousIp
            });
        }
        finally
        {
            countDownInterval = null;
            hour.value = 0;
            minute.value = 0;
            second.value = 0;

            isAppliedJsonConf(false);
            isAppliedStratConf(false);
            previousIp = "";
            alert("[TIMER] DELETED CONFIG");
        }
    }

    function countDown(timeLeft)
    {
        if (timeLeft <= 0) return;
        if (countDownInterval) clearInterval(countDownInterval);

        countDownInterval = setInterval(() => {
            timeLeft -= 1000;

            setTimerValue(timeLeft);

            if (timeLeft <= 0) {
                resetTimer();
            }
        }, 1000);
    }

    function isAppliedJsonConf(val)
    {
        if (val)
        {
            applyDefaultBtn.textContent = "Applied"
            applyDefaultBtn.style.backgroundColor = "green";
            applyDefaultBtn.style.color = "white";    
            return;
        }

        applyDefaultBtn.textContent = "Apply"
        applyDefaultBtn.style.backgroundColor = "buttonface";
        applyDefaultBtn.style.color = "buttontext";

    }

    function isAppliedStratConf(val)
    {
        if (val)
        {
            stratDiv.className = "d-flex flex-column align-items-center gap-3";
            applyStratBtn.disabled = false;
            return;
        }

        stratDiv.className = "d-none";
        applyStratBtn.disabled = false;

    }

    async function getActiveShape() {
        try {
            const res = (await getShape()).data;
            activeShapeList.innerHTML = "";
            res.forEach(data => {
                const isActive = data.active;
                const li = document.createElement("li");
                li.className = (isActive ? "bg-success" : "bg-danger") + " text-white"
                li.textContent = data.ip + (isActive ? "(active)" : "(inactive)");
                activeShapeList.appendChild(li);
            })
        }
        finally {
            return;
        }
    }

    async function removePreviousConfig() {
        if (previousIp !== "")
        {
            try {
                deleteShape({
                    "ip": previousIp
                });
                await sleep(500);  
            }
            catch
            {
                // do nothing
            }
        }
    }
    // end functions

    // first load 
    editorContainer.style.display = "none";


    // on change option value
    defaultConfigSelector.addEventListener("change", async (event) => {
        const selectedValue = event.target.value;
        if (!selectedValue || selectedValue.length <= 0)
        {
            // if selectedValue is "" or null -> display none
            editorContainer.style.display = "none";
            return;
        }
        editorContainer.style.display = "block";
        try{
            const data = await fetchJson(selectedValue);
            try {
                editor.setValue(JSON.stringify(data.data.content, null, 2));
            }
            catch (err)
            {
                editor.setValue(JSON.stringify(data.data, null, 2));
            }

        }
        catch (err)
        {
            editor.setValue("// " + err);
        }
    });

    // jsonForm on submit
    jsonForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        removePreviousConfig();
        
        let jsonData = {};
        try 
        {
            jsonData.data = JSON.parse(editor.getValue());
            jsonData.ip = ipSelector.value;
        } catch (err) 
        {
            alert('Invalid JSON: ' + err.message);
            return;
        }
        finally
        {
            const h = parseInt(hour.value, 0);
            const m = parseInt(minute.value, 0);
            const s = parseInt(second.value, 0);
            
            const timerValue = convertTimerToMs(h,m,s);
            try 
            {
                await applyConfig(jsonData);
                isAppliedJsonConf(true)
                countDown(timerValue);
                previousIp = ipSelector.value;
                strategySelector.value = "";
            }
            catch (e)
            {
                isAppliedJsonConf(false)
                previousIp = "";
                alert("Error " + e);
            }
        }
    });

    // delete btn on click
    deleteBtn.addEventListener("click", async () => {
        if (!confirm("Are you sure you want to delete this config?")) return;

        try 
        {
            const res = await deleteShape({
                "ip": ipSelector.value
            });
            if (!res.ok) throw new Error(res.status);
            alert("Deleted successfully!");
            isAppliedJsonConf(false);
            resetTimer();
        } 
        catch (err) 
        {
            console.error(err);
            alert("Error deleting config with status: " + err);
        }
    });

    // reload ip btn on click handler
    fetchIpBtn.addEventListener("click", async () => {
        ipSelector.disabled = true;
        try{
            const devices = (await fetchIp()).data;
            // clear existing options
            ipSelector.innerHTML = `<option value="{{ name }}" selected>{{ name }}</option>`;
            devices.forEach(device => {
                const opt = document.createElement("option");
                opt.value = device;
                opt.textContent = device;
                ipSelector.appendChild(opt);
            });
        }
        catch (err)
        {
            alert("[GET] Ips error")
        }
        finally
        {
            ipSelector.disabled=false;
        }
    });

    // Monitor btn on click handler 
    monitorBtn.addEventListener("click", async () => {
        if (monitorBtn.classList.contains("bg-danger"))
        {
            monitorBtn.textContent = "ON";
            monitorBtn.className = "btn bg-success text-white";
            getActiveShape();
            monitoringInterval = setInterval(getActiveShape, MONITORING_INTERVAL);
            return;
        }

        // else
        monitorBtn.textContent = "OFF";
        monitorBtn.className = "btn bg-danger text-white";
        if (monitoringInterval) clearInterval(monitoringInterval);
        monitoringInterval = null;
        activeShapeList.innerHTML = "";
    });

    // strategySelector on change handler
    strategySelector.addEventListener("change", async (event) => {
        event.preventDefault();
        if (strategySelector.value.length > 0)
        {
            isAppliedStratConf(true);
            if (!strategySelector.value.startsWith("fix"))
            {
                lossValueDiv.className = "d-flex flex-column align-items-center gap-2";
            }
            else
            {
                lossValueDiv.className = "d-none";
            }
            return;
        }
        isAppliedStratConf(false);
    });


    // strategyForm on submit
    strategyForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        removePreviousConfig();
        
        let jsonData = {};
        try 
        {
            jsonData.strategy = strategySelector.value;
            jsonData.ip = ipSelector.value;
        } catch (err) 
        {
            alert('Invalid JSON: ' + err.message);
            return;
        }
        finally
        {
            const h = parseInt(hour.value, 0);
            const m = parseInt(minute.value, 0);
            const s = parseInt(second.value, 0);
            
            const timerValue = convertTimerToMs(h,m,s);
            try {
                const resp = await applyConfig(jsonData);
                countDown(timerValue);
                previousIp = ipSelector.value;
                defaultConfigSelector.value = "";
                lossValueInput.value = resp.loss;

                // start Cycle Interval
                if (cycleInterval) clearInterval(cycleInterval);
                if (!strategySelector.value.startsWith("fix") && cycleSecondsInput.value > 0)
                {
                    cycleInterval = setInterval(async () => {
                        try {
                            const resp = await postShape(jsonData);
                            lossValueInput.value = resp.loss;
                            defaultConfigSelector.value = "";
                        }
                        catch (e)
                        {
                            if (cycleInterval) clearInterval(cycleInterval);
                            cycleInterval = null;
                            lossValueInput.value = "";
                            alert("Error " + e);
                        }
                    }, cycleSecondsInput.value * 1000); 
                }
            }
            catch (e)
            {
                previousIp = "";
                alert("Error " + e);
                return;
            }
        }
    });
</script>
</html>